<div class="page-header">
   <ol class="breadcrumb">
    <li class="active">Student Details</li>
  </ol> 
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Student Details
  </div>
  <div *ngIf="item" class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
        <button class="btn btn-default btn-sm" type="submit" style="margin:3px">Choisire un fichier</button>
      </div>
      <div class="col-md-8">
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Student Card number</span>
          <input type="text" class="form-control" placeholder="Student Card number" name="student_card_number" aria-describedby="sizing-addon3" readonly>
        </div>
        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">First name</span>
          <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Middle name</span>
          <input type="text" class="form-control" placeholder="Middle name" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm" style="padding-top: 10px">
          <span class="input-group-addon" id="sizing-addon3">Last name</span>
          <input type="text" class="form-control" placeholder="Last name" aria-describedby="sizing-addon3">
        </div>
      </div>
         
    </div>
    <div class="row">
      <div>
        
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#grades" aria-controls="grades" role="tab" data-toggle="tab">Grades</a></li>
            <li role="presentation"><a href="#payments" aria-controls="payments" role="tab" data-toggle="tab">Payments</a></li>
            <li role="presentation"><a href="#attendances" aria-controls="attendances" role="tab" data-toggle="tab">Attendances</a></li>
            <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="grades">
              <!-- Table -->
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th><input type="checkbox" value="option1"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
               
                <tbody>
                  <tr>
                    <th><input type="checkbox" value="option1"></th>
                    <th>{{}}</th>
                    <th></th>
                    <th class="text-right">{{}}</th>
                    <th class="text-right">{{}}</th>
                    <th></th>
                    <th></th>
                  </tr>

                  <tr class="active">
                    <td></td>
                    <td>
                      <select class="form-control input-sm">
                        <option value="">---</option>
                      </select>
                    </td>
                    <td style="width: 70px">
                      <input class="form-control input-sm" type="text" placeholder="Coef">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" placeholder="Grade 1">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" placeholder="Grade 2">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" placeholder="Average">
                    </td>
                    <td>
                      <select class="form-control input-sm">
                        <option value="">---</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="info">
                    <td colspan="2"><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
              
              <textarea class="form-control" rows="3" style="margin: 15px; width: 500px" placeholder="Observation"></textarea>

            </div>
            <div role="tabpanel" class="tab-pane" id="payments">
              <!-- Table -->
              <table class="table table-bordored table-hover">
                <thead>
                  <tr>
                    <th><input type="checkbox" value="option1"></th>
                    <th>Date</th>
                    <th>Mode</th>
                    <th>Reference</th>
                    <th>Periode</th>
                    <th>Amount</th>
                    <th>Solde</th>
                  </tr>
                </thead>
               
                <tbody>
                  <tr>
                    <th><input type="checkbox" value="option1"></th>
                    <th>{{}}</th>
                    <th>{{}}</th>
                    <th>{{}}</th>
                    <th>{{}}</th>
                    <th>{{}}</th>
                    <th>{{}}</th>
                  </tr>
                  <tr class="active">
                    <td></td>
                    <td>
                      <input class="form-control input-sm" type="date" value="2011-08-19" id="example-date-input" >
                    </td>
                    <td>
                      <select class="form-control input-sm">
                        <option value="">---</option>
                      </select>
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" placeholder="Reference">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" placeholder="Periode">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" placeholder="Amount">
                    </td>
                    <td>
                      <input class="form-control input-sm" type="text" placeholder="Solde">
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr class="info">
                    <td colspan="5"><strong>Total Paid</strong></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="info">
                    <td colspan="5"><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr class="info">
                    <td colspan="5"><strong>Total</strong></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="attendances">
              <!-- <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th colspan="2">LUNDI</th>
                    <th colspan="2">MARDI</th>
                    <th colspan="2">MERCREDI</th>
                    <th colspan="2">JEUDI</th>
                    <th colspan="2">VENDREDI</th>
                    <th colspan="2">SAMEDI</th>
                    <th colspan="2">DIMANCHE</th>
                  </tr>
                  <tr>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                      <th>HEURE</th>
                      <th>SUBJECT</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table> -->
              ...
            </div>
            <div role="tabpanel" class="tab-pane" id="history">...</div>
          </div>
        
        </div>
    </div>
  </div>
</div>