<div class="page-header">
   <ol class="breadcrumb">
    <li class="active">Student</li>
  </ol> 
  <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Create
  </button>
  <span class="pull-right">
    <div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle" style="margin: -6px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Plus
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Admission</a></li>
      <li><a href="#">Class levels</a></li>
      <li><a href="#">Teachers</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  </span>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Sudents List
  </div>
  <div class="panel-body">

    <!-- Table -->
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Student Number</th>
          <th>Student Name</th>
          <th>Department</th>
          <th>Class Level</th>
          <th>Menu</th>
        </tr>
      </thead>
      <tr *ngFor="let item of items">
        <td> {{item.id}} </td>
        <td><a [routerLink]="['../studentDetails', item.id]"><strong>{{}}</strong></a></td>
        <td> {{}}&nbsp;{{}}&nbsp;{{}}</td>
        <td> {{}} </td>
        <td> {{}} </td>
        <td><button class="btn btn-default btn-sm" (click)="getDetails(event)">Show</button></td>     
      </tr>
    </table>

  </div>

</div>