{% include 'core/base.html' %}
{% load static %}

{% load permission_tags %}

{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'admission.css' %}">
<link rel="stylesheet" href="{% static 'payement.css' %}">
{% endblock %}

{% block content %}
<div class="row container">
    {% include 'payement/aside.html' %}
    <div class="col-md-10">
        <div class="page-header">
            <ol class="breadcrumb">
                <li><a href="#">Frais</a></li>
                <li class="active"><a href="#">Liste des Frais</a></li>
            </ol>
            <div class="row">
                <div class="col-md-8">
                <a class="btn btn-primary btn-sm" href="{% url 'new-fee' %}">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    &nbsp;Nouveau Frais
                </a>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="panel panel-primary panel-pages">
                <!-- Default panel contents -->
                <div class="panel-heading">type des frais
                </div>
                <div class="panel-body">
                <p>...</p>
                </div>
                <!-- <button type="button" class="btn btn-primary" (click)="onCreate">Create</button> -->
                <!-- Table -->
                <table class="table table-bordered table-sm" id="registration-table">
                    <thead>
                        <tr>
                            <!-- <th><input class="form-check-input" type="checkbox" value=""></th> -->
                            <th scope="col">N<sup>o</sup></th>
                            <th>Libellé Frais</th>
                            <th>Valeur Frais</th>
                            <th>description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fee in fees %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td>{{ fee.label }}</td>
                            <td>{{ fee.fee_value|intcomma }}</td>
                            <td>{{ fee.fee_description }}</td>
                            <td>
                                <span class="fee-edit-link"><a class="btn btn-primary btn-sm" href="{{ fee.get_edit_url }}">Editer</a></span>
                                <span class="fee-delete-link">
                                    <a class="btn btn-danger btn-sm fee-delete" data-pk={{registration.pk}
                                    data-url="{% url 'fee-delete' fee.pk %}" >
                                    Supprimer
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
        
                    </tbody>
                </table>
            
            </div>
            
    </div>

    <div class="modal fade" id="modal-registration">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
    </div>
</div>

{% endblock %}
{% block bottom %}
  <script src="{% static 'admission.js' %}"></script>
{% endblock %}