

/*	REGISTRATION PAGE*/
#regist-menu{
	position: absolute;
	top: 0;
	left: 60%;
	padding: 2%;
}

#regist-menu li a{
    margin-bottom: 2px;
    color: blue;
    padding: 4px 4px;
}


/* REGISTRATION FORM*/
 .hide{
	display: none;
}

/*IMAGE UPLOAD*/

form ol {
  padding-left: 0;
  margin-top: -10px;
}

form li, div > p {
  display: block;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
}

form img {
  height: 150px;
  order: 1;
  margin: -10px 0 1% 20%;

}

form p {
  line-height: 16px;
  padding-left: 5px;
  font-size: 13px;
  text-align: center;
}

#image-upload-button label{
	margin-top: 10px;
	margin-left: 20%;
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 30px;
	padding-top: 5px;
	text-align: center;
	background-color: #eee;
}

#image-upload-button:hover {
  color: #23527c;
}

#image-upload-button:active{
  color: #23527c;
}

/* FILE UPLOAD STYLE ENDS*/
.registration-form{
	padding-bottom: 2%;
}

/*Registration detail page*/
.registration-detail-image{
	margin-left: 60px;
	margin-top: -5px;
}

.edit-image{
	margin-top: 10px;
}

.pers-info, .additionnal-detail-info{
   text-align: center;
}

form button{
	width: 10%;
	margin-left: 2%;
}

.modal-footer button,
.admission-process-buttons button{
	width: 20%;
	margin-left: 2%;
}




/* REGISTRATION DETAIL PAGE */

.detail-page p{
	margin-bottom: 20px;
	margin-left: 5%;
}
.registration-detail-title{
	margin-right: 2%;
	font-weight: 700;
	background-color: #f5f5f5;
	padding: 1% 2%;
}

.detail-page h3{
	padding: 15px 10px;
	background-color: #23527c;
	color: #fff;
	margin: -12px 0 25px 0;
}

.detail-buttons{
	margin-left: 70%;
}

.detail-buttons a{
	margin-right: 10%;
}

./*detail-row{
	margin-left: 10%;
*/}

/*PARTIAL REGISTRATION DELETE PAGE*/
.js-delete-registration-form button{
      width: 100px;
}

/*ADMISSION PROCESS*/

.accepted{
	background-color: green;
	color: #fff;
}

.rejected{
	background-color: red;
	color: #fff;
}

.admission-process{
	margin-right: 1px;
}

#bootstrap-overrides .checkbox-input{
	margin-left: 10%;
	-ms-transform: scale(1.5); /* IE */
	-moz-transform: scale(1.5); /* FF */
	-webkit-transform: scale(1.5); /* Safari and Chrome */
	-o-transform: scale(1.5); /* Opera */
	padding: 10px;
	margin-top: 6px;
}

/*Customize the first checkbox of admission process form*/
#bootstrap-overrides .bac-checkbox{
	margin-left: 28%;
}

/*Comment field on admission proces form*/

#bootstrap-overrides .admis-process-comment{
    height: 100px;
    
}

#admission-process-comment{
	margin-left: 30px;
	width: 94%;

}

/*Commitee decison field(radio buttons) admssion process*/
#id_commitee_decision li{
   display: inline-block;
}
/*Gender radio buttons id Generate by django*/
#id_gender li{
	display: inline;
	margin-left: 50px;
}
/*OPTIIONS RADIO BUTTONS*/
#id_option li{
	display: inline;
}


/*Inscription submit button*/
#inscription-button{
	margin: 10px 10px;
	width: 200px;
}

/*Inscription Panel*/
#inscription-panel{
	margin-right: 20px;
}

/*#id_commitee_decision_0,
label[for="id_commitee_decision_0"]{
	display: none;
}*/



/*input:invalid {
    border-color: red;
}*/

/**/

/*input[type='checkbox']:required,
input:required,
textarea:required {
  border-color: red !important;
}
input:required + label {
  color: red;
}*/