body{
	font-size: 16px;
}

/* NAVBAR*/
header {
	margin-bottom: 10%;
}

nav .btn-default{
	padding-right:80%;
}

.navigation{
	padding: 1% 0 1% 0;
}
.navbar-default .navbar-brand {
	color: #23527c;
}

.navbar-default .main-nav>li>a {
    color: #23527c;
    font-size: 15px;
    font-weight: 400;
}

.navbar-default .navbar-right>li>a{
	color: #23527c;
}

.navbar-form{
   margin-left: 15%;
}


.logged-in-user:hover, .nav-logout:hover{
	text-decoration: none;
}

/*LOGIN PAGE*/

.login-form{
	width: 40%;
}

.login-form button{
	margin: 2% 0 0 40%;
}

/*HOME PAGE*/
.homepage-icons h3{
	text-align: center;
	color: #23527c;
}
.homepage-icons img{
	width: 30%;
	height: 30%;
	margin: 1% 1%;
}

/*.homepage-icons ul li{
	display: inline-block;
	width: 50px;
	height: 40px;
	background-color: red;
	font-size: 100px;
	padding: 10px 10px ;
}*/

