body{
	font-size: 16px;
	background-color: #f0f5f7;
}

/* NAVBAR*/
header {
	margin-bottom: 10%;
}


nav .btn-default{
	padding-right:60%;
}

.navbar .navbar-default .navbar-fixed-top {
	background-color:  red;
}
.navigation{
	padding: 1% 0 1% 0;
}
.navbar-default .navbar-brand {
	color: #23527c;
}

.navbar-default .main-nav>li>a {
    color: #23527c;
    font-size: 15px;
    font-weight: 400;
}

.navbar-default .navbar-right>li>a{
	color: #23527c;
}

.navbar-form{
   margin-left: 15%;
}

.navbar-nav .open .dropdown-menu{
	width: 500%;
	padding-top: 10%;
}

.navbar-nav .open .dropdown-menu li a{
	color: #23527c;
	text-decoration: none;
	padding: 3% 20% 3% 3%;
}

.navbar-nav .open .dropdown-menu li a:hover{
	background-color: #e3e3e3;
}

/*LOGIN PAGE*/

.login-form{
	width: 40%;
	background-color: #ffffff;
}

.login-form button{
	margin: 2% 0 0 40%;
}

/*HOME PAGE*/
.homepage-icons h3{
	text-align: center;
	color: #23527c;
}
.homepage-icons img{
	width: 30%;
	height: 30%;
	margin: 1% 1%;
}

.homepage-icons ul {
	height: 500px;
}

.homepage-icons ul li{
	display: inline-block;
	width: 30%;
	height: 40%;
	background-color: white;
	font-size: 20px;
	padding: 10px 10px ;
	margin:1% 1%;
	text-align: center;
	padding-top: 2%;
}

.homepage-icons ul li a{
	display: inline-block;
	font-size: 100px;
	width: 100%;
	height: 100%;
}

.homepage-icons ul li p{
	padding-top:-13%;
	margin-top: -13%;
}

