{%extends "core/base.html"%}
{% load staticfiles %}


{%block content%}

<div class="container homepage-icons">
  <ul>
      <li>
      <a href="{% url 'registration' %}">
        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      </a>
      <p>Admissions</p>
      </li>
      <li>
      <a href="{% url 'home-student' %}"> 
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      </a>
      <p>Elèves</p>
      </li>
      <li>
      <a href="">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </a>
      <p>Calendrier</p>
    </li>
     <li>
      <a href="{% url 'payement' %}">
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
      </a>
      <p>Paiements</p>
    </li>
     <li>
      <a href="">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </a>
      <p>Inscriptions</p>
    </li>
     <li>
      <a href="">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <p>Configuration</p>
    </li>
  </ul>
</div>

{% endblock %}