{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="{% url 'admission' %}" class="active"=>Inscriptions</a></li>
      <li role="presentation"><a href="{% url 'registration' %}">Saisie Etudiant</a></li>
      </ul>
  </div>
  <div class="col-md-10">
    <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="#">Admission</a></li>
          <li><a href="#">Liste des saisie</a></li>
          <li class="active">Nouvelle saisie</li>
        </ol>
    </div>
    <form action="{% url 'register'%}" method="POST">
      {% csrf_token %}
      <div class="page-header">
      <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
      <!-- <button class="btn btn-danger btn-sm" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button> -->
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
              <button class="btn btn-default" type="submit" style="margin:3px">Choisir un fichier</button>
            </div>
            <div class="col-md-8">
              <!-- <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Registry Number</span>
                <input type="text" class="form-control" placeholder="Registry Number" name="regnumber" [(ngModel)]="regnumber" aria-describedby="sizing-addon3" readonly>
              </div> -->

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Prenom</span>
                <input type="text" class="form-control" placeholder="Prenom" name="first_name" aria-describedby="sizing-addon3">
              </div>

              <!-- <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Autre nom</span>
                <input type="text" class="form-control" placeholder="Autre nom" name="middle_name" [(ngModel)]="middle_name"  aria-describedby="sizing-addon3">
              </div> -->

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Nom</span>
                <input type="text" class="form-control" placeholder="Last name" name="last_name" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Genre</span>
                <select class="form-control" name="genre">
                      <option>----</option>
                      <option>homme</option>
                      <option>femme</option>
                    </select>
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Adresse</span>
                <input type="text" class="form-control" placeholder="Adresse" name="adress"  aria-describedby="sizing-addon3">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Date de naissance</span>
                <!-- <input type="text" class="form-control" placeholder="Date of birth" aria-describedby="sizing-addon3"> -->
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="date_of_birth">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Lieu de naissance</span>
                <input type="text" class="form-control" placeholder="Lieu de naissance" name="place_of_birth" aria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Nationalité</span>
                <input type="text" class="form-control" placeholder="Nationalité" name="nationality"  aria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Téléphone</span>
                <input type="text" class="form-control" placeholder="Téléphone" name="phone_number" ria-describedby="sizing-addon3">
              </div>
              
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Email</span>
                <input type="text" class="form-control" placeholder="Email" name="email"  aria-describedby="sizing-addon3">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Numero Carte d'identité</span>
                <input type="text" class="form-control" placeholder="Numero carte" name="id_card_number" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Ecole d'origine</span>
                <input type="text" class="form-control" placeholder="Ecole d'origine" name="school_origin" aria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Année Baccalauréat</span>
                <input type="text" class="form-control" placeholder="Année Baccalauréat" name="pv_bac" ria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Pv Baccalauréat</span>
                <input type="text" class="form-control" placeholder="PV" name="pv_bac" ria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">option</span>
                <select class="form-control" name="genre">
                      <option>----</option>
                      <option>Sciences Mathématiques</option>
                      <option>Sciences Experimentales</option>
                      <option>Sciences Sociales</option>
                    </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-body">
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Father name</span>
            <input type="text" class="form-control" placeholder="Father name" name="father_name" aria-describedby="sizing-addon3">
          </div>

          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Mother name</span>
            <input type="text" class="form-control" placeholder="Mother name" name="mother_name" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian</span>
            <input type="text" class="form-control" placeholder="Guardian" name="guardian" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian adress</span>
            <input type="text" class="form-control" placeholder="Guardian adress" name="guardian_adress" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian phone</span>
            <input type="text" class="form-control" placeholder="Guardian phone" name="guardian_phone" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian email</span>
            <input type="text" class="form-control" placeholder="Guardian email" name="guardian_email" aria-describedby="sizing-addon3">
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
              <div class="col-md-4">
                <!-- <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
                <button class="btn btn-default" type="submit" style="margin:3px">Choisir un fichier</button> -->
              </div>

              <div class="col-md-8">

                <div class="">
                  {{ form.first_name.errors }}
                  {{ form.first_name.label_tag }}
                  <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Prenom</span>
                  {{ form.first_name}}
                  </div>
                {{forms.erros}}
                </div>

                <div>
                  {{ form.last_name.errors }}
                  {{ form.last_name.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Nom</span>
                  {{form.last_name}}
                </div>
                </div>

                <div>
                  {{ form.gender.errors }}
                  {{ form.gender.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Genre</span>
                  {{ form.gender }}
                </div>
                </div>

                <div>
                  {{ form.address.errors }}
                  {{ form.address.label_tag }}
                  <div class="input-group input-group-sm" style="padding-top: 10px">
                    <span class="input-group-addon" id="sizing-addon3">Adresse</span>
                    {{ form.address }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">

              <div>
              {{ form.date_of_birth.errors }}
                {{ form.date_of_birth.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Date de naissance</span>
                  {{form.date_of_birth}}
                </div>
              </div>

              <div>
              {{ form.nationality.errors }}
                {{ form.nationality.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Nationalité</span>
                  {{ form.nationality }}
                </div>
              </div>

              <div>
                {{ form.phone_number.errors }}
                {{ form.phone_number.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Téléphone</span>
                  {{ form.phone_number }}
                </div>
              </div>
              <div>
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Email</span>
                  {{ form.email }}
                </div>
              </div>
               
            </div>
            <div class="col-md-6">
              <div>
                {{ form.id_card_number.errors }}
                {{ form.id_card_number.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Numero Carte d'identité</span>
                  {{form.id_card_number }}
                </div>
              </div>
              <div>
                {{ form.school_origin.errors}}
                {{ form.school_origin.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Ecole d'origine</span>
                  {{ form.school_origin }}
                </div>
              </div>
              <div>
                {{ form.year_admission_bac.errors}}
                {{ form.year_admission_bac.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Année Baccalauréat</span>
                  {{ form.year_admission_bac }}
                </div>
              </div>
              <div>
                {{ form.pv.errors }}
                {{ form.pv.label_tag }}"
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">PV Baccalauréat</span>
                  {{ form.pv}}
                </div>
              </div>
              <div>
                {{ form.option.errors}}
                {{ form.option.label_tag }}
                <div class="input-group input-group-sm" style="padding-top: 10px">
                  <span class="input-group-addon" id="sizing-addon3">Options</span>
                  {{ form.option}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            {{ form.fathers_name.errors }}
            {{ form.fathers_name.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Nom du Père</span>
              {{ form.fathers_name }}
            </div>
          </div>
          <div>
            {{ form.mothers_name.errors }}
            {{ form.mothers_name.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Nom de la mère</span>
              {{ form.mothers_name }}
            </div>
          </div>
          <div>
            {{ form.guardian_name.errors }}
            {{ form.guardian_name.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Tuteur</span>
              {{ form.guardian_name }}
          </div>
          <div>
             {{ form.guardian_address.errors }}
             {{ form.guardian_address.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Adresse du tuteur</span>
              {{ form.guardian_address }}
            </div>
          </div>
          <div>
            {{ form.guardian_phone.errors }}
            {{ form.guardian_phone.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Téléphone du tuteur</span>
              {{ form.guardian_phone }}
            </div>
          </div>
          <div>
           {{ form.guardian_email.errors }}
           {{ form.guardian_email.label_tag }}
            <div class="input-group input-group-sm" style="padding-top: 10px">
              <span class="input-group-addon" id="sizing-addon3">Email du tuteur</span>
              {{ form.guardian_email}}
            </div>
          </div>
    
        </div>
      </div>
{% endblock %}

# widgets = {
        #     'first_name': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'last_name': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'gender': forms.Select(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'date_of_birth': forms.DateInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'nationality': forms.Select(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'fathers_name': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'mothers_name': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'address': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'phone_number': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'email': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'id_card_number': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'guardian_name': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'guardian_phone': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'guardian_email': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'guardian_address': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'school_origin': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'}),
        #     'option': forms.Select(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'year_admission_bac': forms.TextInput(attrs={'class': 'form-control' ,'aria-describedby':'sizing-addon3'}),
        #     'pv': forms.TextInput(attrs={'class': 'form-control', 'aria-describedby':'sizing-addon3'})
        # }