{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a routerLink="depConfig">Departments</a></li>
      <li role="presentation"><a routerLink="classLvls">Class levels</a></li>
      <li role="presentation"><a routerLink="exams">Exams</a></li>
      <li role="presentation"><a routerLink="rooms">Rooms</a></li>
      <li role="presentation"><a routerLink="subjects">Subjects</a></li>
      <li role="presentation"><a routerLink="depConfig">Configuration</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>

{% endblock %}