{% include 'core/base.html' %}
{% load static %}
{% load admission_tags %}
{% load permission_tags %}

{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'admission.css' %}">
{% endblock %}

{% block content %}


<div class="row admission-process registration-page">
     {% include 'admission/aside.html' %}

    <div class="col-md-10">
        <div class="page-header">
            <ol class="breadcrumb">
            <li><a href="#">Admission</a></li>
            <li class="active">Liste des Admis</li>
            </ol>
            <div class="row">
            <!-- <div class="col-md-8">
                <a class="btn btn-primary btn-sm" href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter</a>
            </div> -->
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                <!-- <input type="text" class="form-control" aria-label="..."> -->
                <input type="text" class="form-control" aria-label="..." >
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> <span class="caret"></span></button>
                    <!-- <ul class="dropdown-menu dropdown-menu-right">
                    <li><input type="checkbox" aria-label="...">&nbsp;Date</li>
                    <li><input type="checkbox" aria-label="...">&nbsp;Personne</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    </ul> -->
                </div>
                </div>
            </div>
            </div>
        
        </div>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Liste des admis
            </div>
            <div class="panel-body">
            <p>...</p>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="onCreate">Create</button> -->
            <!-- Table -->
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <!-- <th><input class="form-check-input" type="checkbox" value=""></th> -->
                <th scope="col">N<sup>o</sup></th>
                <th>Date d'admission</th>
                <th>Nom de la personne saisie</th>
                <th>Numero de la personne saisie</th>
                <th>Formation choisie</th>
                <th>Programme choisie</th>
                <th>Statut</th>
                <th>Frais d'inscription</th>
        
             </tr>
            </thead>
            <tbody>
                {% for process in adprocess %}
                {% if process.commitee_decision != 'rejeté' %}
            <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{process.add_date|date:"DATE_FORMAT" }}</td>
                <td>{{process.registree}}</td>
                <td class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true" id="registrationMenu">{{process.registree.registry_number}}
                    </a>
                         {% if process.registree.reg_inscription.id %}
                        <ul class="dropdown-menu registration-menu hide" aria-labelledby="registrationMenu" id="regist-menu">
                           <!--  <li>
                                <a href="" class="">
                                    Plus d'infos sur {{process.registree.first_name}} {{process.registree.last_name}}
                                </a>
                            </li> -->
                            <li>
                               
                                  <!-- Check for permissions -->
                                <!-- {% if user|has_role:'head_admission_service' %}
                                    {% if process.registree.registration_payement.count > 0 %}
                                <a href="{{ process.registree.get_inscription_url }}" class="">
                                    Processus d'Inscription administrative
                                </a>
                                    {% else %}
                                    <a class="" style="background-color: #e3e3e3; color: black;">
                                    Processus d'inscription administrative
                                    </a>
                                    {% endif %}
                                {% else %}
                                <a class="" style="background-color: #e3e3e3; color: black;">
                                    Processus d'inscription administrative
                                </a>
                                {% endif %} -->
                            </li>
                           
                        </ul>
                        {% else %}
                        <ul class="dropdown-menu registration-menu" aria-labelledby="registrationMenu" id="regist-menu">
                           <!--  <li>
                                <a href="" class="">
                                    Plus d'infos sur {{process.registree.first_name}} {{process.registree.last_name}}
                                </a>
                            </li> -->
                            <li>
                               
                                  <!-- Check for permissions -->
                                {% if user|has_role:'head_admission_service' %}
                                    {% if process.registree.registration_payement.count > 0 %}
                                <a href="{{ process.registree.get_inscription_url }}" class="">
                                    Inscrire
                                </a>
                                    {% else %}
                                    <a class="" style="background-color: #e3e3e3; color: black;">
                                    inscrire
                                    </a>
                                    {% endif %}
                                {% else %}
                                <a class="" style="background-color: #e3e3e3; color: black;">
                                    Inscrire
                                </a>
                                {% endif %}
                            </li>
                           
                        </ul>
                        {% endif %}
                    
                </td>
                <td>{{ process.registree.course}}</td>
                <td>{{ process.registree.course_level}}</td>
                {% if process.registree.reg_inscription.id %}
                <td class="">Inscrit</td> 
                {% else %}
                <td class="">Nouveau</td> 
                {% endif %}
                {% if process.registree.registration_payement.count > 0 %}
                 <td class="">Payés</td> 
                {% else %}
                 <td class="">Non payés</td> 
                {% endif %}


            </tr>
            {% endif %}
            {% endfor %}

            </tbody>
        
            </table>
        
        </div>
        
        <!-- Modal -->
       
    </div>
</div>

{% endblock %}