{% extends 'core/base.html' %}
{% load static %}


{% block content %}

<div class="row container">
     {% include 'admission/aside.html' %}
    <div class="col-md-10">
    <div class="page-header">
            <ol class="breadcrumb">
            <li><a href="#">Admission</a></li>
            <li class="active">Liste des Inscriptions</li>
            </ol>
            <a class="btn btn-primary btn-sm" href="{% url 'new-admission' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter</a>
           
            <!-- <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button> -->
            <span class="pull-right">
            <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle" style="margin: -6px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Plus
                <span class="caret"></span>
            </button>
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Delete</a></li>
                <li><a href="#">Class levels</a></li>
                <li><a href="#">Teachers</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul> -->
            </div>
            </span>
        
        </div>
        
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Admission List
            <!-- <button class="btn-save" >Create</button> -->
            <!-- <a routerLink="../newAdmission">New Admission</a> -->
            </div>
            <div class="panel-body">
            </div>
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <th scope="col">N<sup>o</sup></th>
                <th>DATE</th>
                <th>Matricule de l'etudiant</th>
                <th>Prenom</th>
                <th>Nom</th>
                </tr>
            </thead>
            <tbody>
            {% for admission in admissions %}
            <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{admission.admission_add_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td><a href="{{ admission.get_absolute_url }}" class="">{{admission.matricule}}</a></td>
                <td>{{admission.registry.first_name}}</td>
                <td>{{admission.registry.last_name}}</td>

            </tr>
            {% endfor %}
            </tbody>
        
            </table>
        </div>
         <div class="modal fade" id="modal-admission">
        <div class="modal-dialog">
          <div class="modal-content">

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
