{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div class="row">
  <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a href="{% url 'admission' %}" class="active"=>Inscriptions</a></li>
      <li role="presentation"><a href="{% url 'registration' %}">Saisie Etudiant</a></li>
      </ul>
  </div>
  <div class="col-md-10">
    <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="#">Admission</a></li>
          <li><a href="#">Liste des saisie</a></li>
          <li class="active">Nouvelle saisie</li>
        </ol>
        <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
        <button class="btn btn-danger btn-sm" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
              <button class="btn btn-default" type="submit" style="margin:3px">Choisire un fichier</button>
            </div>
            <div class="col-md-8">
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Registry Number</span>
                <input type="text" class="form-control" placeholder="Registry Number" name="regnumber" [(ngModel)]="regnumber" aria-describedby="sizing-addon3" readonly>
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">First name</span>
                <input type="text" class="form-control" placeholder="First name" name="first_name" [(ngModel)]="first_name" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Middle name</span>
                <input type="text" class="form-control" placeholder="Middle name" name="middle_name" [(ngModel)]="middle_name"  aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Last name</span>
                <input type="text" class="form-control" placeholder="Last name" name="last_name" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Gender</span>
                <select class="form-control" name="genre">
                      <option>----</option>
                      <option>male</option>
                      <option>Female</option>
                    </select>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Adress</span>
                <input type="text" class="form-control" placeholder="Adress" name="adress"  aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Date of birth</span>
                <!-- <input type="text" class="form-control" placeholder="Date of birth" aria-describedby="sizing-addon3"> -->
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name="date_of_birth">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Nationality</span>
                <input type="text" class="form-control" placeholder="Nationality" name="nationality"  aria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Email</span>
                <input type="text" class="form-control" placeholder="Email" name="email"  aria-describedby="sizing-addon3">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">ID card number</span>
                <input type="text" class="form-control" placeholder="Gender" name="id_card_number" aria-describedby="sizing-addon3">
              </div>

              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Place of birth</span>
                <input type="text" class="form-control" placeholder="Place of birth" name="place_of_birth" aria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">Phone</span>
                <input type="text" class="form-control" placeholder="Phone" name="phone_number" ria-describedby="sizing-addon3">
              </div>
              <div class="input-group input-group-sm" style="padding-top: 10px">
                <span class="input-group-addon" id="sizing-addon3">School origin</span>
                <input type="text" class="form-control" placeholder="School origin" name="school_origin" aria-describedby="sizing-addon3">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-body">
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Father name</span>
            <input type="text" class="form-control" placeholder="Father name" name="father_name" aria-describedby="sizing-addon3">
          </div>

          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Mother name</span>
            <input type="text" class="form-control" placeholder="Mother name" name="mother_name" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian</span>
            <input type="text" class="form-control" placeholder="Guardian" name="guardian" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian adress</span>
            <input type="text" class="form-control" placeholder="Guardian adress" name="guardian_adress" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian phone</span>
            <input type="text" class="form-control" placeholder="Guardian phone" name="guardian_phone" aria-describedby="sizing-addon3">
          </div>
          <div class="input-group input-group-sm" style="padding-top: 10px">
            <span class="input-group-addon" id="sizing-addon3">Guardian email</span>
            <input type="text" class="form-control" placeholder="Guardian email" name="guardian_email" aria-describedby="sizing-addon3">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}