{% extends 'core/base.html' %}
{% load static %}
{% load i18n %} 

{% block head %}
<link rel="stylesheet" href="{% static 'admission.css' %}">
{% endblock %}


{% block content %}
<div class="row container">
   {% include 'admission/aside.html' %}
  <div class="col-md-10 ">
    <div class="page-header">
        <ol class="breadcrumb">
          <li><a href="#">Admission</a></li>
          <li><a href="{% url 'registration' %}">Liste des saisie</a></li>
          <li class="active">Nouvelle saisie</li>
        </ol>
    </div>
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'register'%}" method="POST" class="registration-form" role="form">
      {% csrf_token %}

      <!-- {{ form.as_p}} -->
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
            <div class="col-md-8">

              <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                <span class="hide">{{ form.first_name.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                <span class="input-group-addon " id="sizing-addon3">Prenom</span>
                  {{ form.first_name}}
                </div>
                  {% for error in form.first_name.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.first_name.errors}} -->
              </div>

              <div>
                <span class="hide">{{ form.last_name.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Nom</span>
                  {{form.last_name}}
                </div>
                  {% for error in form.last_name.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.last_name.errors }} -->
              </div>

              <div>
                <span class="hide">{{ form.gender.label_tag }}</span>
                <div class="" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Genre</span>
                  {{ form.gender }}
                </div>
                  {% for error in form.gender.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.gender.errors }} -->

              </div>
              <div>
                <span class="hide">{{ form.active_year.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Annéé scolaire</span>
                  {{ form.active_year }}
                </div>
                  {% for error in form.active_year.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.active_year.errors }} -->
              </div>

              <div>
                <span class="hide">{{ form.course.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                <span class="input-group-addon " id="sizing-addon3">Programme</span>
                  {{ form.course }}
                </div>
                  {% for error in form.course.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.course.errors }} -->
              </div>
              <div>
                <span class="hide">{{ form.course_level.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                <span class="input-group-addon " id="sizing-addon3">Niveau</span>
                  {{ form.course_level }}
                </div>
                  {% for error in form.course_level.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.course_level.errors }} -->
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <span id="image-upload-button">{{ form.image.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                <!-- <span class="input-group-addon" id="image-upload-button">Choisir une image</span> -->
                  {{ form.image }}
                </div>
                  {% for error in form.image.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                  <!-- {{ form.image.errors }} -->
              </div>
              <div class="preview">
                <p> Aucune Image selectionnée</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div>
                <span class="hide">{{ form.phone_number.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Téléphone</span>
                  {{ form.phone_number }}
                </div>
                  {% for error in form.phone_number.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.phone_number.errors }} -->
              </div>
              <div>
                <span class="hide">{{ form.address.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                <span class="input-group-addon " id="sizing-addon3">Adresse</span>
                  {{ form.address }}
                </div>
                {% for error in form.address.errors %}
                    <div class="row">
                     <div class="alert alert-danger">{{error}}</div>
                   </div>
                  {% endfor %}
                <!-- {{ form.address.errors }} -->
              </div>

              <div>
                <span class="hide">{{ form.date_of_birth.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Date de naissance</span>
                  {{form.date_of_birth}}
                </div>
                 {% for error in form.date_of_birth.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.date_of_birth.errors }} -->
              </div>

              <div>
                <span class="hide">{{ form.id_card_number.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Numero Carte d'identité</span>
                  {{form.id_card_number }}
                </div>
                  {% for error in form.id_card_number.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                 <!-- {{ form.id_card_number.errors }} -->
              </div>
              <div>
               <span class="hide"> {{ form.email.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Email</span>
                  {{ form.email }}
                </div>
                  {% for error in form.email.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.email.errors }} -->
              </div>
              
               
            </div>
            <div class="col-md-6">
               <div>
                <span class="hide">{{ form.nationality.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Nationalité</span>
                  {{ form.nationality }}
                </div>
                  {% for error in form.nationality.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.nationality.errors }} -->
              </div>
              
              <div>
                <span class="hide">{{ form.school_origin.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Ecole d'origine</span>
                  {{ form.school_origin }}
                </div>
                  {% for error in form.school_origin.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.school_origin.errors}} -->
              </div>
              <div>
                <span class="hide">{{ form.year_admission_bac.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Année Baccalauréat</span>
                  {{ form.year_admission_bac }}
                </div>
                  {% for error in form.year_admission_bac.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.year_admission_bac.errors}} -->
              </div>
              <div>
                <span class="hide">{{ form.pv.label_tag }}</span>
                <div class="input-group input-group-sm" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">PV Baccalauréat</span>
                  {{ form.pv}}
                </div>
                  {% for error in form.pv.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                   <!-- {{ form.pv.errors }} -->
              </div>
              <div>
                <span class="hide">{{ form.option.label_tag }}</span>
                <div id="options" style="padding-top: 10px;" >
                  <span class="input-group-addon " id="sizing-addon3">Options</span>
                  {{ form.option}}
                </div>
                  {% for error in form.option.errors %}
                    <div class="row">
                      <div class="alert alert-danger">{{error}}</div>
                    </div>
                  {% endfor %}
                  <!-- {{ form.option.errors}} -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div>
            <span class="hide">{{ form.fathers_name.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Nom du Père</span>
              {{ form.fathers_name }}
            </div>
              {% for error in form.fathers_name.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
              <!-- {{ form.fathers_name.errors }} -->
          </div>
          <div>
            <span class="hide">{{ form.mothers_name.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Nom de la mère</span>
              {{ form.mothers_name }}
            </div>
              {% for error in form.mothers_name.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
               <!-- {{ form.mothers_name.errors }} -->
          </div>
          <div>
            <span class="hide">{{ form.guardian_name.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Tuteur</span>
              {{ form.guardian_name }}
            </div>
              {% for error in form.guardian_name.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
              <!-- {{ form.guardian_name.errors }} -->
          </div>
          <div>
            <span class="hide">{{ form.guardian_address.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Adresse du tuteur</span>
              {{ form.guardian_address }}
            </div>
              {% for error in form.guardian_address.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
             <!-- {{ form.guardian_address.errors }} -->
          </div>
          <div>
            <span class="hide">{{ form.guardian_phone.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Téléphone du tuteur</span>
              {{ form.guardian_phone }}
            </div>
            {% for error in form.guardian_phone.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
             <!-- {{ form.guardian_phone.errors }} -->
          </div>
          <div>
           <span class="hide">{{ form.guardian_email.label_tag }}</span>
            <div class="input-group input-group-sm" style="padding-top: 10px;" >
              <span class="input-group-addon " id="sizing-addon3">Email du tuteur</span>
              {{ form.guardian_email}}
            </div>
              {% for error in form.guardian_email.errors %}
                <div class="row">
                  <div class="alert alert-danger">{{error}}</div>
                </div>
              {% endfor %}
             <!-- {{ form.guardian_email.errors }} -->
          </div>
    
        </div>
      </div>


       <button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Ajouter</button>

       <p></p>

      


      </form>
    </div>
  </div>
{% endblock %}
{% block bottom %}
  <script src="{% static 'admission.js' %}"></script>
{% endblock %}


