{% extends 'core/base.html' %}
{% load static %}


{% block content %}
<div class="row">
     {% include 'admission/aside.html' %}
    <div class="col-md-10">
      <div class="page-header">
        <ol class="breadcrumb">
         <li><a href="#">Admission</a></li>
         <li><a href="#">Liste des Inscriptions</a></li>
         <li class="active">Nouvelle Inscription</li>
       </ol> 
       <button class="btn btn-success btn-sm" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
       <button class="btn btn-danger btn-sm" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
     </div>
     
     <!-- <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Save and add another</button> -->
     <!-- <div class="panel panel-default">
       <div class="panel-body">
         <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
         <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
       </div>
     </div> -->
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="row">
           <div class="col-md-6">
             <div class="alert alert-info" role="alert">
               Please select a student to get info
             </div>
           </div>
           <div class="col-md-6">
             <div class="input-group input-group-sm">
               <span class="input-group-addon" id="sizing-addon3">Add student</span>
               <select class="form-control" >
                 <option>----</option>
                 <option *ngFor="let item of RegistratioNumber" ></option>
               </select>
             </div>
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Matricule</span>
               <input type="text" class="form-control" placeholder="Matricule" aria-describedby="sizing-addon3" readonly>
             </div>
           </div>
         </div>
     
       </div>
     </div>
     
     <div class="panel panel-default">
       <div class="panel-body">
         <div class="row">
           <div class="col-md-4">
             <img src="../../../assets/images/avatar.png" alt="..." class="img-responsive img-thumbnail" style="width:145px; height:145px">
             <!-- <button class="btn btn-default" type="submit" style="margin:3px">Choisire un fichier</button> -->
             <label class="custom-file">
               <input type="file" id="file" class="custom-file-input">
               <span class="custom-file-control"></span>
             </label>
           </div>
           <div class="col-md-8">
             <h3>{{RegistratioNumber.first_name}}</h3>
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Student Card number</span>
               <input type="text" class="form-control" placeholder="Student Card number" name="student_card_number" aria-describedby="sizing-addon3">
             </div>
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">First name</span>
               <input type="text" class="form-control" placeholder="First name" aria-describedby="sizing-addon3">
             </div>
     
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Middle name</span>
               <input type="text" class="form-control" placeholder="Middle name" aria-describedby="sizing-addon3">
             </div>
     
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Last name</span>
               <input type="text" class="form-control" placeholder="Last name" aria-describedby="sizing-addon3">
             </div>
     
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Sexe</span>
               <select class="form-control">
                 <!-- <option>----</option> -->
                 <option></option>
                 <!-- <option>Fem</option> -->
               </select>
             </div>
     
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Date of birth</span>
               <input class="form-control" type="date" value="2011-08-19" id="example-date-input" >
             </div>
     
             <div class="input-group input-group-sm" style="padding-top: 10px">
               <span class="input-group-addon" id="sizing-addon3">Place of birth</span>
               <input type="text" class="form-control" placeholder="Place of birth" aria-describedby="sizing-addon3" >
             </div>
           </div>
         </div>
       </div>
     </div>
     
     <div class="panel panel-default">
       <div class="panel">
         <div class="input-group input-group-sm" style="padding-top: 10px">
           <span class="input-group-addon" id="sizing-addon3">Father</span>
           <input type="text" class="form-control" placeholder="Father" aria-describedby="sizing-addon3" >
         </div>
     
         <div class="input-group input-group-sm" style="padding-top: 10px">
           <span class="input-group-addon" id="sizing-addon3">Mother</span>
           <input type="text" class="form-control" placeholder="Mother" aria-describedby="sizing-addon3" >
         </div>
     
         <div class="input-group input-group-sm" style="padding-top: 10px">
           <span class="input-group-addon" id="sizing-addon3">Guardian</span>
           <input type="text" class="form-control" placeholder="Tuteur" aria-describedby="sizing-addon3" >
         </div>
       </div>
     </div>
    </div>
  </div>
{% endblock %}