{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'admission.css' %}">
{% endblock %}

{% block content %}

<div class="row container registration-page">
     {% include 'admission/aside.html' %}

    <div class="col-md-10">
        <div class="page-header">
            <ol class="breadcrumb">
            <li><a href="#">Admission</a></li>
            <li class="active">Liste des Saisies</li>
            </ol>
            <div class="row">
            <div class="col-md-8">
                <a class="btn btn-primary btn-sm" href="{% url 'register' %}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Ajouter</a>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                <!-- <input type="text" class="form-control" aria-label="..."> -->
                <input type="text" class="form-control" aria-label="..." >
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                    <li><input type="checkbox" aria-label="...">&nbsp;Date</li>
                    <li><input type="checkbox" aria-label="...">&nbsp;Numero de saisie</li>
                    <li><input type="checkbox" aria-label="...">&nbsp;Prenom</li>
                    <li><input type="checkbox" aria-label="...">&nbsp;Nom</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                </div><!-- /input-group -->  
            </div>
            </div>
        
        </div>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Liste des personnes saisies
            </div>
            <div class="panel-body">
            <p>...</p>
            </div>
            <!-- <button type="button" class="btn btn-primary" (click)="onCreate">Create</button> -->
            <!-- Table -->
            <table class="table table-bordered table-sm">
            <thead>
                <tr>
                <!-- <th><input class="form-check-input" type="checkbox" value=""></th> -->
                <th scope="col">N<sup>o</sup></th>
                <th>DATE</th>
                <th>Numero de saisie</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Statut</th>
             </tr>
            </thead>
            <tbody>
            {% for registration in registrations %}
            <tr>
                <td scope="row">{{forloop.counter}}</td>
                <td>{{registration.registration_add_date|date:"DATE_FORMAT" }}</td>
                <td class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" aria-haspopup="true" aria-expanded="true" id="registrationMenu">{{registration.registry_number}}
                    </a>
                        <ul class="dropdown-menu registration-menu" aria-labelledby="registrationMenu" id="regist-menu">
                            <li>
                                <a href="{{ registration.get_absolute_url }}" class="">
                                    Plus d'infos sur {{registration.first_name}} {{registration.last_name}}
                                </a>
                            </li>
                            <li>
                                <a href="" class="">
                                    Processus d'admission
                                </a>
                            </li>
                           
                        </ul>
                    
                </td>
                <td>{{registration.first_name}}</td>
                <td>{{registration.last_name}}</td>
                <td>A definir</td>

            </tr>
            {% endfor %}

            </tbody>
        
            </table>
        
            <!-- <app-registree-details [item]="selectedItem"></app-registree-details> -->
        
        </div>
        
    
    </div>
</div>

{% endblock %}
